.busimage {
    height: 250px;
  }
  .fmb{
    margin-bottom: 6rem !important;

  }
  .bookbutton {
    width: 9em;
    margin-top: 10px;
    background-color: green !important;
    color: white;
    height: 40px;
    align-items: center;
  }
  .bookbutton:hover {
    box-shadow: 5px 5px 10px 2px rgb(182, 180, 180) !important;
    transform: scale(1.1);
    background-color: green;
    border-color: 2px solid green;
  }
  .bg {
    background-color: #faf9f6;
    color: black;
    margin-top: -20px;
  }
  
  .buscard:hover{
    background-color: green;
    transform: scale(1.06);
    color: black;
  } 
  
  